@charset "UTF-8";

/* 記事詳細のマークダウン */
.markdown-body * {
    margin-top: 0;
    margin-bottom: 2rem;
    line-height: 1.9;
    font-size: 1.6rem;
    font-weight: 500;
  }
  
  .markdown-body strong {
    background-color: yellow;
  }
  
  .markdown-body img {
    display: block;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 0px;
    height: auto;
    border: solid 1px #ccc;
  }
  
  @media (max-width: 1024px) {
    .markdown-body img {
      max-width: 100%;
    }
  }
  
  .markdown-body p code {
    background-color: #eee;
    color: #333;
    padding: 0.2em 0.4em;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  
  .markdown-body pre {
    line-height: 1.2;
    background-color: #1D1F21;
    padding: 2% 4%;
    overflow-x: scroll;
  }
  
  .markdown-body pre * {
    margin-bottom: 0;
    line-height: 1.4;
    font-weight: lighter;
  }
  
  .markdown-body blockquote {
    padding: 15px;
    border-left: 5px solid #ccc;
    border-radius: 2px;
  }
  
  .markdown-body h1 {
    font-size: 24px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .markdown-body h2,
  .markdown-body h3 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .markdown-body h2 {
    border-bottom: 1px solid #ccc;
  }
  
  .markdown-body .cp_embed_wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .markdown-body a {
    color: #1266f1;
  }
  
  .markdown-body a:hover {
    opacity: .5;
  }
  
  .markdown-body ul,
  .markdown-body ol {
    padding-left: 1.5em;
    margin: 1rem 0;
    line-height: 1.7;
  }
  
  .markdown-body ul {
    list-style-type: disc;
  }
  
  .markdown-body ol {
    list-style-type: decimal;
  }
  
  .markdown-body ul li,
  .markdown-body ol li {
    margin-bottom: 1rem;
  }